
@{
    ViewData["Title"] = "Sertifika Sorgula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Sertifika Sorgulama</h2>
    <form method="get" action="@Url.Action("Index", "Certificate")">
        <input type="text" name="tc" class="email" placeholder="T.C." required />
        <br />
        <button type="submit" class="register">
            <span>Sorgula</span>
        </button>
    </form>
    <br />

    @if (ViewBag.StudentCourses != null && ViewBag.StudentCourses.Count > 0)
    {
        <form method="post" action="@Url.Action("ShowCertificate", "Certificate")">
            <input type="hidden" name="tc" value="@ViewBag.TC" />
            <select id="selectedCourse" name="selectedCourse" class="select-course" required>
                <option value="" disabled selected hidden>Eğitim Seçiniz</option> 
                @foreach (var course in ViewBag.StudentCourses)
                {
                    <option value="@course.EğitimAdi">@course.EğitimAdi</option>
                }
            </select>
            <br />
            <button type="submit" class="register">
                <span style="text-align:center;">Sertifikayı Göster</span>
            </button>
        </form>
    }

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="popup-alert" id="error-popup">
            <div class="popup-content">
                <span class="close-btn" onclick="closePopup()">&times;</span>
                <p>@ViewBag.ErrorMessage</p>
            </div>
        </div>
    }
</div>

